
<div class="row text-center">
  <% @products.each do |p|%>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <%= image_tag p.cover_image.url(:cover)%>
        <div class='caption'>
          <h3><%= p.title%></h3>
          <p><%= p.description%></p>
          <p>
         <%= link_to("加入購物車", add_to_cart_product_path(p), method: :post, class: "btn btn-primary") %>
          <a href="#" class="btn btn-default">More Info</a>
          </p>
      </div>
      </div>
    </div>
  <% end %>
</div>

