<div class="row">
  <div class="col-md-12">

    <h2> 購物車 </h2>

    <%= react_component("Cart.Index", {cart: current_cart.as_json(include: :items)})%>

    <br>

    <div class="total clearfix">
      <span class="pull-right">
        <span> 總計 <%= current_cart.price %> NTD  </span>
      </span>
    </div>

    <hr>
    <div class="checkout clearfix">
      <%= link_to("確認結賬", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>
  </div>
</div>
