<div class="row">
  <div class="col-md-12">

    <h2> 購物車 </h2>
    <%= react_component("Cart.Index", {cart: current_cart.as_json(include: {cart_items: {include: :product}})})%>
    <br>
    <hr>
    <div class="checkout clearfix">
      <%= link_to("清除購物車", clean_carts_path, method: :delete, class: "btn btn-lg btn-default pull-right", data: { confirm: "你確定要清空整個購物車嗎？"} )%>
      <%= link_to("確認結賬", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>
  </div>
</div>
